
<div content-for="title">
  <span>{{search_page.point["中文通用名"]}}</span>
</div>
  
<div class="scrollable">
  <div class="scrollable-content container-fluid section">



    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading" toggle target="一、理化性质">
          <h3 class="panel-title">
            一、理化性质
          </h3>
        </div>
        <div id="一、理化性质" toggleable active-class="in" exclusion-group="accordion1" default="active" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="list-group">
              <div class="list-group-item" ng-repeat="phy in phys">
                <h3>{{phy}}<br/>
                  <h5>{{search_page.point["一、理化性质"][phy]}}</h5>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" toggle target="二、快速检测参考方法">
          <h3 class="panel-title">

            二、快速检测参考方法
          </h3>
        </div>
        <div id="二、快速检测参考方法" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="list-group">
              <div class="list-group-item" ng-repeat="way in ways">
                <h3>{{way}}<br/>
                  <h5>{{search_page.point["二、快速检测参考方法"][way]}}</h5>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" toggle target="三、确证参考方法">
          <h3 class="panel-title">

            三、确证参考方法
          </h3>
        </div>
        <div id="三、确证参考方法" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="list-group">
              <div class="list-group-item" ng-repeat="way in ways">
                <h3>{{way}}<br/>
                  <h5>{{search_page.point["二、快速检测参考方法"][way]}}</h5>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" toggle target="四、相关信息">
          <h3 class="panel-title">
            四、相关信息
          </h3>
        </div>
        <div id="四、相关信息" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="list-group">
              <div class="list-group-item" ng-repeat="about in abouts">
                <h3>{{about}}<br/>
                  <h5>{{search_page.point["四、相关信息"][about]}}</h5>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" toggle target="五、典型案例">
          <h3 class="panel-title">
            五、典型案例
          </h3>
        </div>
        <div id="五、典型案例" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="list-group">
              <div class="list-group-item" ng-repeat='thing in search_page.point["五、典型案例"]'>
                <h3>{{thing}}<br/>
                  <!--h5>{{search.point["五、典型案例"][thing]}}</h5-->
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

