<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group">
      <div class="list-group-item">
        <h1 ng-click="search_page.fuck()">欢迎<br/>
        <small>这是化学性食物中毒快速检验检索系统</small>
        </h1>
      </div>
      <div btf-markdown ng-include="'assets/md/'+search_page.point['中文通用名']+'.md'" class="list-group-item">
      </div>
      <!--wiz-markdown content="markdown"></wiz-markdown-->
      <!--上面的这个模块也可以使用-->
      <input type="search" ng-model="markdown" class="list-group-item" placeholder="搜索话题..." />
      <a class="list-group-item" ng-click="toggle('mainSidebar')" href="#/">左边是导航栏,您能在这里找到您需要的功能 <i class="fa fa-angle-double-left pull-left"></i></a>
      <a class="list-group-item" ng-click="toggle('rightSidebar')" href="#/">右边是毒物列表,您搜索的毒物都呈现在这里 <i class="fa fa-angle-double-right pull-right"></i></a>

    </div>

  </div>
</div>
