<div content-for="title">
  <span>搜索</span>
</div>


<div class="scrollable">
 <div class="scrollable-content section">
   
   <form action="" id="">

     <div bs-panel title="详细搜索">


       <input
           bs-form-control

           type="text"
           ng-model="search['中文通用名']"
           label="中文通用名"
           label-class="col-xs-3 col-sm-2 col-lg-1"
           class="col-xs-9 col-sm-10 col-lg-11"
           placeholder="输入中文通用名"
           />

       <input
           bs-form-control

           type="text"
           ng-model="search['颜色']"
           label="颜色"
           label-class="col-xs-3 col-sm-2 col-lg-1"
           class="col-xs-9 col-sm-10 col-lg-11"
           placeholder="白、黑、红、黄、灰、蓝、绿、棕、无色"
           />
       <input
           bs-form-control

           type="text"
           ng-model="search['常见原因']"
           label="常见原因"
           label-class="col-xs-3 col-sm-2 col-lg-1"
           class="col-xs-9 col-sm-10 col-lg-11"
           placeholder="苦杏仁、假酒、四季豆、鲜黄花菜、腌制食品、野生芹、青皮红肉鱼"
           />
       <input
           bs-form-control

           type="text"
           ng-model="search['气味']"
           label="气味"
           label-class="col-xs-3 col-sm-2 col-lg-1"
           class="col-xs-9 col-sm-10 col-lg-11"
           placeholder="刺激性（硫醇）气味、芳香气味、苦杏仁气味、鼠臭气味、蒜臭气味、味苦、味咸、无臭、无味"
           />
       <input
           bs-form-control

           type="text"
           ng-model="search['形态']"
           label="形态"
           label-class="col-xs-3 col-sm-2 col-lg-1"
           class="col-xs-9 col-sm-10 col-lg-11"
           placeholder="固体、半固体、液体"
           />
       <input
           bs-form-control

           type="text"
           ng-model="search['临床表现']"
           label="临床表现"
           label-class="col-xs-3 col-sm-2 col-lg-1"
           class="col-xs-9 col-sm-10 col-lg-11"
           placeholder="输入主要关键词"
           />
       <input
           bs-form-control

           type="text"
           ng-model="search['全文检索']"
           label="全文检索"
           label-class="col-xs-3 col-sm-2 col-lg-1"
           class="col-xs-9 col-sm-10 col-lg-11"
           placeholder="输入主要关键词"
           />






       

     </div>

   </form>

 </div>
</div>